# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
env/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dataset - intentionally excluded
dataset/
assets/
data/plant_disease_dataset/
data/split/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Archives
*.zip

# Colab/local artifacts
/content/
