# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Streamlit
# ============================================================

.streamlit/

# ============================================================
# IDEs
# ============================================================

.vscode/
.idea/

# ============================================================
# Operating System
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Local Dataset
# ============================================================

dataset/

# ============================================================
# Logs
# ============================================================

*.log

# ============================================================
# Temporary training files
# ============================================================

*.tmp
*.temp
# Project dataset
assets/
data/plant_disease_dataset/
data/split/
# Archives
*.zip
# Colab / local artifacts
/content/
